@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Chocolate+Classical+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Pacifico&family=Protest+Strike&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.light{
  --background: #fff;
  --text: #000;
  --box: #f0f0f0;
  --shadow: #353535;
  --special: #ff8d23;
}
.dark{
  --background: #1a1a1a;
  --text: #fff;
  --box: #2a2a2a;
  --shadow: #c0c0c0;
  --special: #ff8d23;
}
body{
  background: var(--background);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}
.top{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.top input{
  border-radius: 10px;
  height: 40px;
}
.top button{
  width: 10vw;
}
.top h1{
  text-align: center;
  font-family: cabin;
  font-size: clamp(3rem, 3vw, 4rem);
}
.top span{
  color: var(--special)
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px , 1fr));
  gap: 20px;
  overflow: hidden;
}
.box{
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
  overflow: hidden;
  background: var(--box);
  box-shadow: 0 5px 6px var(--shadow);
  border-radius: 20px;
  height: 
}
.box img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.box h2{
  font-family: Oswald;
}
.box p{
  font-style: italic;
}
.box a{
  background: var(--special);
  text-decoration: none;
  padding: 20px;
  width: fit-content;
  border-radius: 12px;
  color: var(--text);
  font-family: outfit;
}